[submodule "netbox/netbox-docker"]
	path = netbox/netbox-docker
	url = https://github.com/netbox-community/netbox-docker
	branch = release
[submodule "craigsfeed/src"]
	path = craigsfeed/src
	url = https://github.com/sa7mon/craigsfeed
[submodule "russ/src"]
	path = russ/src
	url = https://github.com/sa7mon/russ.git
